*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    background-image: url(../img/img5.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin:0;
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;  
    min-height: 100vh;
    }

.logo{
    font-size: 3em;
    font-weight: bold;
    width: 100px;
    height: 52px;
    left: 10cm;
    top: 22px;
    color: white;
}
.textgreen{
    color: #7DCB59;
}

form{
	width: 100%;
    height: 100%;
	margin: auto;
	background: rgba(0,0,0,0.4);
	padding: 10px 20px;
	box-sizing: border-box;

}

  /*BARRA DE CARGA*/

  :root{
    --border-fondo1:20px solid white;
    --border-fondo2:20px solid white;
    --border-fondo3:20px solid white;
    --border1:20px solid #7DCB59;
    --border2:20px solid #7DCB59;
    --border3:20px solid #7DCB59;
}
.contenedor{
    height: 250px;
    width: 250px;
    overflow: hidden;
    margin: 110px 30px;
}
.contenedor .progreso{
    margin: 130px auto;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    /*border-left: var(--border3);
    border-right: var(--border3);
    border-top: var(--border3);
    border-bottom: 25px solid transparent;*/
    position: relative;
    color: #fff;
    text-align: center;
}
.contenedor .pro-1{
    border: var(--border-fondo1);
    color: #fff;
}
.contenedor .pro-2{
    border: var(--border-fondo2);
    color: #fff;

}
.contenedor .pro-3{
    border: var(--border-fondo3);
    color: #fff;

}
.progreso h1{
    font-family: sans-serif;
    margin-bottom:-37px ;
}
.progreso h1,h2{
    margin-top: 40px;
}
.progreso h2{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.progreso .circle{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -20px;
    left: -20px;
    transform: rotate(-135deg);
}
.circle1{
    border-top: var(--border1);
    border-left: var(--border1);
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    animation:  rotar1 1s linear forwards;
    animation-delay: 1s;
}
.circle2{
    border-top: var(--border2);
    border-left: var(--border2);
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    animation:  rotar2 1s linear forwards;
    animation-delay: 2s;
}
.circle3{
    border-top: var(--border3);
    border-left: var(--border3);
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    animation:  rotar3 1s linear forwards;
    animation-delay: 3s;
}
@keyframes rotar1{
    100%{
        transform: rotate(-25deg);
    }
}
@keyframes rotar2{
    100%{
        transform: rotate(-85deg);
    }
}
@keyframes rotar3{
    100%{
        transform: rotate(25deg);
    }
}
#barra1{
    position: relative;
    left: 100px;
    margin-top: 30px;
}
#barra2{
    position: relative;
    left: 450px;
    margin-top: -361px;    
}
#barra3{
    position: relative;
    left: 800px;
    margin-top: -362px;     
}
h1{
    font-family: "roboto";
    color: white;
}


/*CARROUSEL*/

.container{
    width: 90%;
  
    padding: 10px 40px;
  }
  .container .swiper-container{
    width: 100%;
    height: 100%;
  }
  .container .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 15px;
    text-align: start;
    box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
   
  }
  .container .swiper-slide img{
     display: block;
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
  
  }
  .container .swiper-slide .card-description{
      padding:1rem 1rem;
  }
  .container .swiper-slide .card-title,.container .swiper-slide .card-text{
     margin-bottom: .5rem;
  }
  .container .swiper-slide .card-link{
     text-align: center;
    
  }
  .container .swiper-slide .card-link a{
      text-decoration: none;
      color: #1d6ce2;
  }
  .swiper-button-next{
      right: 26px !important;
      
  }
  .swiper-button-prev{
      left: 26px !important;
  }
  #boton1c{
    position: absolute;
    margin-top: 370px;
  }
  #boton2c{
    position: absolute;
    margin-top: 370px;
  }
  #rutina{
    position: center;
    margin-top: 100px;
  }
  #container2{
    position: center;
    margin-top: 230px;
  }

  #container3{
    position: center;
  }
  



